<div class="col-12 container-fluid bg-light">
    <div class="container d-flex align-items-center justify-content-between">
        <div><img src="assets/logo.png" class="logo" alt="" (click)="asd()"></div>
        <div class="text-light">
            <div class="Google-Ads" (click)="click()">Google Ads</div>
        </div>
        <div>
            <!-- <form>
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1"><div><img src="assets/amerca.png" class="icon-list" alt=""> sdf</div></option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </form> -->
        </div>
    </div>
</div>