
.container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    height: 60px;
}

.Google-Ads{
    padding: 15px;
    background-color: lightgray;
    border-radius: 15px;
    width: 40vw;
    text-align: center;
}

.icon-list{
    height: 35px;
}
